.container-heading {
    height: 100vh;
}

.nav-category {
    gap: 0.5rem;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    width: 80%;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    --bs-card-bg: rgba(70, 70, 70, 0.829);
    padding: 1rem;
    color: #f1f1f1;
}

.btn-category-nav {
    background-color: rgb(255, 187, 0);
    border-radius: 1rem;
    padding: 0.5rem;
}

.btn-category-nav:hover {
    background-color: rgb(92, 62, 21);
    color: #f1f1f1;
    border-radius: 1rem;
    border: 2px solid #f1f1f1;
    padding: 0.5rem;
}

.logo {
    width: 500px;
    max-width: 80%;
    height: auto;
}

.category-title {
    font-size: 3rem;
}

.category-desc {
    font-size: 1rem;
}

.price {
    font-size: 1rem !important;
}

.card-product-body {
    font-size: 0.8rem !important;
}

.table {
    background-color: rgba(70, 70, 70, 0.829) !important;
    color: #f1f1f1 !important;
    --bs-table-color: #f1f1f1;
    --bs-table-bg: rgba(70, 70, 70, 0.829);
}